<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      {%- if item.linkout -%}
        <a href="{{ item.linkout}}">
      {%- else -%}
      <a href="{{ item.url }}">

      {%- endif -%}
        <span class="header">
          {{ item.title }}
          {%- if item.linkout -%}
          {%- include linkout.svg -%}
        {%- endif -%}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {%- endif -%}
          {%- if item.isFoss -%}
            {%- include openLock.svg -%}
          {%- endif -%}


        </span>

        <hr />

        <p class="body">

          {% if item.categories %}
            <i>{{item.categories | array_to_sentence_string}}</i>
          {% endif %}
          {% if item.desc != false %}
            {{ item.desc }}
          {% endif %}
        </p>
      </a>
    </li>

  {% endfor %}
</ul>
