<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      {%- if item.linkout -%}
        <a href="{{ item.linkout}}">
      {%- else -%}
      <a href="{{ item.url }}">

      {%- endif -%}
        <span class="header">
          {{ item.title }}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {% endif %}
          {%- if item.isFoss -%}
          &#128275;
        {%- endif -%}
          {%- if item.linkout` -%}
          &#10697;
          {%- endif -%}

        </span>

        <hr />

        {% if item.desc != false %}
        <p class="body">
          {{ item.desc }}
        </p>
        {% elsif item.categories %}
        <p class="body">
          <i>{{item.categories | array_to_sentence_string}}</i>
        </p>
        {% endif %}
      </a>
    </li>

  {% endfor %}
</ul>
