<ul class="horizontal-list">
  {% for item in include.collection %}

    <li class="card">
      {%- if item.linkout -%}
        <a href="{{ item.linkout}}">
      {%- else -%}
      <a href="{{ item.url }}">

      {%- endif -%}
        <span class="header">
          {{ item.title }}
          {%- if item.linkout -%}
          <span>
            <i class="fa-solid fa-up-right-from-square"></i>
          </span>
          {%- endif -%}

          {% if item.highlight %}
            <mark>{{ item.highlight }}</mark>
          {%- endif -%}
          {%- unless item.isFoss==empty and item.OSes==empty -%}
            {%- if item.isFoss -%}
              &nbsp;<i class="fa-brands fa-osi fa-xs"></i>
            {%- endif -%}
            {%- if item.OSes -%}
            <br>
              {%- for os in item.OSes -%}
                <i class="fa-brands fa-{{os}}" style="margin-left: .5em; margin-right: .5em;"></i>
              {%- endfor -%}
            {%- endif -%}
          {%- endunless -%}

        </span>

        <hr />

        <p class="body">

          {% if item.categories %}
            <i>{{item.categories | array_to_sentence_string}}</i>
          {% endif %}
          {% if item.desc != false %}
            {{ item.desc }}
          {% endif %}
        </p>
      </a>
    </li>

  {% endfor %}
</ul>
