<ul class="ico-ul">
    {%- for item in include.collection -%}

        <li>
            <span class="ico-li">
                {%- if item.icon -%}
                    {%- assign ico = item.icon -%}
                {%- elsif include.icon-%}
                    {%- assign ico = include.icon -%}
                {%- else -%}
                    {%- assign ico = "fluent-mdl2:starburst-solid" -%}
                {%- endif -%}
                <iconify-icon inline icon="{{ ico }}"></iconify-icon>
            </span>
            {{item}}
        </li>
    {%- endfor -%}
</ul>
