---
layout: default
---

<div>
    <h1>
        <a href="{{page.linkout}}" target="_blank" rel="noopener noreferrer">{{ page.title }}
        <iconify-icon inline icon="tabler:external-link"></iconify-icon>
    </a>
</h1>
    {%- if page.desc -%}
     {{ page.desc}}
    {%- endif -%}
    <h2>Components</h2> 
    <i>
    {{page.components | array_to_sentence_string}}</i>
    <div class="dashed"></div>
</div>

{{ content | markdownify }}

<!-- <a href="/index#{{ page.resourceType }}">back...</a> -->
<a href="/#projects">back...</a>